@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
body {
  background-color: rgba(23, 24, 35, 1);

  font-family: "Josefin Sans", sans-serif;

  height: 100dvh;
}

button,
input {
  font-family: "Josefin Sans", sans-serif;
}
